<!doctype html>
<html>
  <head>
    <title>error in sign in | Chat Web App</title>
    <link rel="stylesheet" href="/error.css">
  </head>

 <body style="text-align:center">

    <h1> 'id : <%=id %>', you are not registered! </h1>
    
    <p> id : <%= id %>                     </p>
    <h1> <a href="/">register here </a> </h1>
   
  </body>
</html>
