<!doctype html>
<html>
  <head>
    <title>error in sign up | Chat Web App</title>
    <link rel="stylesheet" href="/error.css">
  </head>

  <body style="text-align:center">

    <h1>dude, 'id : <%= user.id %>' you've already signed up!</h1>

    <p> name : <%= user.name %>                     </p>
    <p> id : <%= user.id %>                         </p>
    <p> <a href=""> recover forgotten password! </a> </p>
   
  </body>
</html>
