<!doctype html>
<html>
  <head>
    <title>error in sign in | Chat Web App</title>
    <link rel="stylesheet" href="/error.css">
  </head>

 <body style="text-align:center">

    <h1> 'id : <%= user.id %>', you are logged in! </h1>

    <p> name : <%= user.name%>                 </p>
    <p> id : <%= user.id%>                     </p>
    <p> <a href="/">register here </a> </p>
   
  </body>
</html>
